<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Convertinator" version="0.4.0.0" targetFramework="net40" />
  <package id="csunits" version="2.0.1.50806" targetFramework="net40" />
  <package id="GeoAPI" version="1.7.3.1" targetFramework="net40" />
  <package id="NetTopologySuite" version="1.13.3.2" targetFramework="net40" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net40" />
</packages>